<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Page</title>
</head>

<body>

    <h1>This is about page</h1>
    <hr />
    <!-- using fragments-->
    <div class="host-div" th:replace="${isLogin}? ~{base :: parent(~{::#section1})} :~{base::test(~{::#section2})}">
        <section id="section1">
            <h2>User Logged in</h2>
            <h3>Dynamic content section1</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Possimus, accusamus et porro dignissimos enim dolor eos reiciendis aut facere eaque?</p>
            <button style="color:black">Click Me</button>
        </section>

        <section id="section2">
            <h2>User Logged Out</h2>
            <h2>Dynamic content section2</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Possimus, accusamus et porro dignissimos enim dolor eos reiciendis aut facere eaque?</p>
            <button style="color:black">Click Me</button>
        </section>
</div>
</body>

</html>