<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .container{
       width: 400px;
       height: 400px;
       background-color: bisque;
       color: blue;
       margin:auto; 
       padding: 4px;
       text-align: center;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Home Page</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nesciunt vel ea dolor laudantium saepe consequatur ad voluptatem recusandae explicabo excepturi, praesentium atque aspernatur omnis deserunt, impedit, dicta fugit. Veniam quasi quaerat autem consequuntur sunt dolor maiores nemo velit, harum dolorem, quae saepe ullam tempore labore, iste esse ipsam quod accusantium. Cumque nulla ipsam iste sunt molestias qui amet eaque ratione quis, minima ab. Similique error autem enim non odit. Modi obcaecati magnam laudantium optio quaerat labore cupiditate a inventore. Ipsam aliquid amet ipsum vero veritatis minus blanditiis eligendi illo quam natus nesciunt explicabo eos neque exercitationem, dolor quas, at aut.</p>
    </div>

</body>
</html>